#mode-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.mode-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mode-list li {
  font-size: 50px;
  margin: 15% 0;
  color: white;
  position: relative;
  padding-left: 40px;
}

.mode-list li:hover::before {
  content: "->";
  position: absolute;
  left: -30px;
  color: white;
}
